APP_NAME=Saas.Foundation
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=zh_CN
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=daily
LOG_STACK=daily
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug
LOG_DAILY_DAYS=30

DB_CONNECTION=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=laravel
# DB_USERNAME=root
# DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_DB=0
REDIS_CACHE_DB=1

VITE_APP_NAME="${APP_NAME}"

FILESYSTEM_DISK=public
OSS_ACCESS_KEY=
OSS_SECRET_KEY=
OSS_REGION=
OSS_BUCKET=
OSS_ENDPOINT=
OSS_URL=

# MINIO 配置demo
# FILESYSTEM_DISK=s3
# AWS_ACCESS_KEY_ID=x7cRi8t3f3Ifj9qTFhYy
# AWS_SECRET_ACCESS_KEY=mkY4VwTjP0ix91xLvGVe8yclDWAJofT8EEHfAx1H
# AWS_DEFAULT_REGION=cn-haerbin
# AWS_BUCKET=supply
# AWS_URL=https://cdn.gopha.iicio.com/supply
# AWS_ENDPOINT=https://cdn.gopha.iicio.com
# AWS_USE_PATH_STYLE_ENDPOINT=true

# 自定义配置
FORCE_HTTPS=false
SERVER_ID=MAIN
DEFAULT_DOMAIN=
API_DOMAIN=
BACKEND_DOMAIN=
TENANT_DOMAIN=
TENANT_USER_DEFAULT_PASSWORD=a123456
API_RATE_LIMIT=120
TABLE_USE_FOREIGN=true

OCTANE_SERVER=frankenphp
OCTANE_HTTPS=false
