*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
pnpm-lock.yaml
/modules/*
!/modules/.gitignore
/config/debugbar.php
/app/Console/Commands/Test/*.php
.github
.junie
AGENTS.md
